Repository ChibiOS/ChibiOS-Contrib, pull requests merged in 2020-11, with the labels that each got.

#226 Nuvoton NUC123SD4AN0 MCU port
  os/common/ext/CMSIS/Nuvoton/NUMICRO/NUC123SD4AN0.h
  os/common/ext/CMSIS/Nuvoton/NUMICRO/system_NUC123SD4AN0.h
  os/common/startup/ARMCMx/compilers/GCC/ld/NUC123SD4AN0.ld
  os/common/startup/ARMCMx/compilers/GCC/mk/startup_NUC123SD4AN0.mk
  os/common/startup/ARMCMx/devices/NUC123SD4AN0/cmparams.h
  os/hal/ports/NUMICRO/LLD/CLKv1/driver.mk
  os/hal/ports/NUMICRO/LLD/CLKv1/hal_clks_lld.c
  os/hal/ports/NUMICRO/LLD/CLKv1/hal_clks_lld.h
  os/hal/ports/NUMICRO/LLD/GPIOv1/driver.mk
  os/hal/ports/NUMICRO/LLD/GPIOv1/hal_pal_lld.c
  os/hal/ports/NUMICRO/LLD/GPIOv1/hal_pal_lld.h
  os/hal/ports/NUMICRO/LLD/TIMv1/driver.mk
  os/hal/ports/NUMICRO/LLD/TIMv1/hal_pwm_lld.c
  os/hal/ports/NUMICRO/LLD/TIMv1/hal_pwm_lld.h
  os/hal/ports/NUMICRO/LLD/TIMv1/hal_st_lld.c
  os/hal/ports/NUMICRO/LLD/TIMv1/hal_st_lld.h
  os/hal/ports/NUMICRO/LLD/USBv1/driver.mk
  os/hal/ports/NUMICRO/LLD/USBv1/hal_usb_lld.c
  os/hal/ports/NUMICRO/LLD/USBv1/hal_usb_lld.h
  os/hal/ports/NUMICRO/NUC123SD4AN0/hal_lld.c
  os/hal/ports/NUMICRO/NUC123SD4AN0/hal_lld.h
  os/hal/ports/NUMICRO/NUC123SD4AN0/nuc123_isr.h
  os/hal/ports/NUMICRO/NUC123SD4AN0/nuc123_registry.h
  os/hal/ports/NUMICRO/NUC123SD4AN0/platform.mk
  os/hal/ports/NUMICRO/NUC123SD4AN0/system_NUC123SD4AN0.c
Labels: platform

#228 TinyUSB support
  demos/STM32/RT-STM32F407-DISCOVERY-TinyUSB-CDC-MSC/.skip
  demos/STM32/RT-STM32F407-DISCOVERY-TinyUSB-CDC-MSC/Makefile
  demos/STM32/RT-STM32F407-DISCOVERY-TinyUSB-CDC-MSC/cfg/chconf.h
  demos/STM32/RT-STM32F407-DISCOVERY-TinyUSB-CDC-MSC/cfg/halconf.h
  demos/STM32/RT-STM32F407-DISCOVERY-TinyUSB-CDC-MSC/cfg/mcuconf.h
  demos/STM32/RT-STM32F407-DISCOVERY-TinyUSB-CDC-MSC/main.c
  demos/STM32/RT-STM32F407-DISCOVERY-TinyUSB-CDC-MSC/msc_disk.c
  demos/STM32/RT-STM32F407-DISCOVERY-TinyUSB-CDC-MSC/readme.txt
  demos/STM32/RT-STM32F407-DISCOVERY-TinyUSB-CDC-MSC/tusb_config.h
  demos/STM32/RT-STM32F407-DISCOVERY-TinyUSB-CDC-MSC/usb_descriptors.c
  demos/various/RT-Win32-TriBuf/.skip
  os/various/tinyusb_bindings/tinyusb.mk
  os/various/tinyusb_bindings/tusb_os_custom.h
  tools/chbuild.sh
Labels: enhancement, hal

#229 adding LGTM config file
  demos/STM32/RT-STM32F303-DISCOVERY-PID/chconf.h
  demos/STM32/RT-STM32F303-DISCOVERY-PID/halconf.h
  demos/STM32/RT-STM32F303-DISCOVERY-PID/mcuconf.h
  demos/STM32/RT-STM32F407-DISCOVERY-RTT+SystemView/.skip
  demos/STM32/RT-STM32F407-DISCOVERY-RTT+SystemView/Makefile
  demos/STM32/RT-STM32F429-DISCOVERY-DMA2D/.skip
  demos/STM32/RT-STM32F429-DISCOVERY-DMA2D/Makefile
  lgtml.yml
  tools/chbuild.sh
Labels: enhancement
