Repository ChibiOS/ChibiOS-Contrib, pull requests merged in 2020-12, with the labels that each got.

#231 [HAL] [LPC11Uxx]: Add Initial Support for LPC11Uxx series
  AUTHORS.txt
  Jenkinsfile
  demos/LPC/LPC_11U35_USBDFU/.gitignore
  demos/LPC/LPC_11U35_USBDFU/Makefile
  demos/LPC/LPC_11U35_USBDFU/board/board.c
  demos/LPC/LPC_11U35_USBDFU/board/board.h
  demos/LPC/LPC_11U35_USBDFU/board/board.mk
  demos/LPC/LPC_11U35_USBDFU/cfg/chconf.h
  demos/LPC/LPC_11U35_USBDFU/cfg/halconf.h
  demos/LPC/LPC_11U35_USBDFU/cfg/mcuconf.h
  demos/LPC/LPC_11U35_USBDFU/main.c
  demos/LPC/LPC_11U35_USBDFU/readme.md
  demos/LPC/LPC_11U35_USBDFU/source/usbdfu.c
  demos/LPC/LPC_11U35_USBDFU/source/usbdfu.h
  os/common/ext/CMSIS/LPC/LPC11Uxx.h
  os/common/startup/ARMCMx/compilers/GCC/ld/LPC11U35_401.ld
  os/common/startup/ARMCMx/compilers/GCC/mk/startup_lpc11uxx.mk
  os/common/startup/ARMCMx/compilers/GCC/vectors_lpc.S
  os/common/startup/ARMCMx/devices/LPC11Uxx/cmparams.h
  os/hal/ports/LPC/LLD/GPIO/driver.mk
  os/hal/ports/LPC/LLD/GPIO/hal_pal_lld.c
  os/hal/ports/LPC/LLD/GPIO/hal_pal_lld.h
  os/hal/ports/LPC/LLD/SPI/driver.mk
  os/hal/ports/LPC/LLD/SPI/hal_spi_lld.c
  os/hal/ports/LPC/LLD/SPI/hal_spi_lld.h
  os/hal/ports/LPC/LLD/STM/driver.mk
  os/hal/ports/LPC/LLD/STM/hal_st_lld.c
  os/hal/ports/LPC/LLD/STM/hal_st_lld.h
  os/hal/ports/LPC/LLD/UART/driver.mk
  os/hal/ports/LPC/LLD/UART/hal_serial_lld.c
  os/hal/ports/LPC/LLD/UART/hal_serial_lld.h
  os/hal/ports/LPC/LLD/UART/hal_uart_lld.c
  os/hal/ports/LPC/LLD/UART/hal_uart_lld.h
  os/hal/ports/LPC/LLD/USB/driver.mk
  os/hal/ports/LPC/LLD/USB/hal_usb_lld.c
  os/hal/ports/LPC/LLD/USB/hal_usb_lld.h
  os/hal/ports/LPC/LPC11Uxx/hal_lld.c
  os/hal/ports/LPC/LPC11Uxx/hal_lld.h
  os/hal/ports/LPC/LPC11Uxx/lpc_registry.h
  os/hal/ports/LPC/LPC11Uxx/platform.mk
Labels: platform

#233 Github Actions
  .github/workflows/build.yml
  .travis.yml
Labels: enhancement

#241 NUC123 change USBEndpointConfig
  os/hal/ports/NUMICRO/LLD/USBv1/hal_usb_lld.c
  os/hal/ports/NUMICRO/LLD/USBv1/hal_usb_lld.h
  testhal/NUMICRO/NUC123/NUTINY-SDK-NUC123-V2.0/USB_HID/Makefile
  testhal/NUMICRO/NUC123/NUTINY-SDK-NUC123-V2.0/USB_HID/usbcfg.c
Labels: hal

#247 [HAL/LPC11Uxx] [USB] Short packet bugfix
  os/hal/ports/LPC/LLD/STM/hal_st_lld.h
  os/hal/ports/LPC/LLD/USB/hal_usb_lld.c
Labels: bug, hal

#244 [NUC123] USB driver bug fixes
  os/hal/ports/NUMICRO/LLD/USBv1/hal_usb_lld.c
  os/hal/ports/NUMICRO/LLD/USBv1/hal_usb_lld.h
  os/hal/ports/NUMICRO/LLD/USBv1/usb_memcpy.S
Labels: bug, hal
