Repository ChibiOS/ChibiOS-Contrib, pull requests merged in 2022-12, with the labels that each got.

#348 SN32 USB and timer hotfix
  os/hal/ports/SN32/LLD/SN32F2xx/CT/hal_pwm_lld.c
  os/hal/ports/SN32/LLD/SN32F2xx/SysTick/hal_st_lld.c
  os/hal/ports/SN32/LLD/SN32F2xx/SysTick/hal_st_lld.h
  os/hal/ports/SN32/LLD/SN32F2xx/USB/hal_usb_lld.c
  os/hal/ports/SN32/LLD/SN32F2xx/USB/hal_usb_lld.h
Labels: platform, hal

#349 [WB32] Added HSE status selection.
  demos/WB32/RT-WB32FQ95-GENERIC/cfg/mcuconf.h
  os/hal/ports/WB32/WB32F3G71xx/hal_lld.c
  os/hal/ports/WB32/WB32F3G71xx/hal_lld.h
  os/hal/ports/WB32/WB32FQ95xx/hal_lld.c
  os/hal/ports/WB32/WB32FQ95xx/hal_lld.h
Labels: platform

#352 [RP2040] update i2c drivers to reflect peripheral number
  os/hal/ports/RP/LLD/I2Cv1/hal_i2c_lld.c
  os/hal/ports/RP/LLD/I2Cv1/hal_i2c_lld.h
  testhal/RP/RP2040/RT-RP2040-PICO-I2C-24AA01/main.c
Labels: hal

#354 HT32: Add low level driver for WDT
  os/common/ext/CMSIS/HT32/HT32F165x/ht32f165x_reg.h
  os/common/ext/CMSIS/HT32/HT32F523xx/ht32f523x2_reg.h
  os/hal/ports/HT32/HT32F165x/platform.mk
  os/hal/ports/HT32/HT32F523xx/platform.mk
  os/hal/ports/HT32/LLD/WDTv1/driver.mk
  os/hal/ports/HT32/LLD/WDTv1/hal_wdg_lld.c
  os/hal/ports/HT32/LLD/WDTv1/hal_wdg_lld.h
Labels: enhancement, hal

#353 HT32: ld: Fix vector table alignment for HT32F523xx
  os/common/startup/ARMCMx/compilers/GCC/ld/HT32F5234x.ld
  os/common/startup/ARMCMx/compilers/GCC/ld/HT32F5235x.ld
  os/common/startup/ARMCMx/compilers/GCC/ld/HT32F523xx_rules_code.ld
Labels: bug, platform
